/* typography */
body {
	font-family: monospace;
}

/* htmx animations */
.fade-in.htmx-added {
	opacity: 0;
}
.fade-in {
	opacity: 1;
	transition: opacity 250ms ease-out;
}

.fade-out.htmx-swapping {
	opacity: 0;
	transition: opacity 250ms ease-out;
}
