<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Users</h3>
			</div>

			<table class="table">
				<tr ng-repeat="u in users | orderBy:'name'">
					<td>{{u.name}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Transactions</h3>
			</div>

			<table class="table">
				<th>Date</th>
				<th>Description</th>
				<th>Cost ($)</th>

				<tr ng-repeat="t in transactions | orderBy:'date'">
					<td>{{t.date | date:'shortDate'}}</td>
					<td>{{t.description}}</td>
					<td>{{t.cost}}</td>
				</tr>
			</table>
		</div>

		<a href="#!/create-transaction">Create transaction</a>
	</div>
</div>
