<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-default" ng-repeat="u in users">
			<div class="panel-heading">
				<h3 class="panel-title">{{u.name}}</h3>
			</div>

			<table class="table">
				<tr ng-repeat="d in u.debts | filter:{ name: '!' + u.name } | orderBy:'name'">
					<td>{{d.name}}</td>
					<td class="text-right text-{{d.amount > 0.005 ? 'danger' : 'success'}}">
						<strong>{{d.amount | number:2}}</strong>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-sm-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Transactions</h3>
			</div>

			<div class="panel-body">
				<a href="#!/create-transaction">Create transaction</a>
			</div>

			<table class="table">
				<th>Date</th>
				<th>Description</th>
				<th>Cost ($)</th>
				<th>Paid By</th>
				<th>Paid For</th>
				<th></th>

				<tr ng-repeat="t in transactions | orderBy:'date'">
					<td>{{t.date | date:'shortDate'}}</td>
					<td>{{t.description}}</td>
					<td class="text-right">{{t.cost | number:2}}</td>
					<td>{{users[t.creditor_id].name}}</td>
					<td>
						<div ng-repeat="id in t.debtors">{{users[id].name}}</div>
					</td>
					<td class="text-center">
						<span class="button-icon" ng-click="deleteTransaction(t)">&times;</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
